@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500;600&display=swap');

html, body {
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
  font-family: 'spectral';
}

.container-fluid {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  color: #6cacc5;
  font-family: 'spectral';
  font-weight: bold;
}

#search-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid  #6cacc5;
  border-radius: 5px;
}
