@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500;600&display=swap');

html, body {
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
  font-family: 'spectral';
}

.container-fluid {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  color: #6cacc5;
  font-family: 'spectral';
  font-weight: bold;
}

#search-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid  #6cacc5;
  border-radius: 5px;
}


.search-button {
  background-color:#6cacc5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}

#wthrDiv {
  padding: 10px;
  background-color:#6cacc5;
  border-radius: 5px;
 
}
.forecastList{
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  border-radius: 5px;
  background-color:#6cacc5;
  margin: 5px;
}
.row {
  flex-wrap: nowrap;
}
.list-group-item{
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  #forecast {
    flex-wrap: wrap;
}
  #wthrDiv{
  width: 500px;
}
}

@media (max-width: 1200px) {
  #forecast {
    flex-wrap: wrap;
  } 

  .forecastList p {
    margin: 5px;
  }

  .forecastList .header{
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  #search-input {
    width:450px;
  } 
  #search-button{
  margin-top: 20px; 
  margin-left: 10px;
  }
  
}
